<!-- <dx-scheduler
     [dataSource]="appointments"
    textExpr="title"
    allDayExpr="dayLong"
    recurrenceRuleExpr="recurrence"
    [views]="['day', 'week', 'month']"
  currentView="month"
 
  
  height="600px">
 
    
</dx-scheduler> -->
<!-- <dx-scheduler
  [views]="['day', 'week', 'month']"
  currentView="month"
  [dataSource]="appointmentsData"
  [height]="600"
  [startDayHour]="9"
  >
</dx-scheduler>  -->
<dx-scheduler
timeZone="India"
  [dataSource]="appointmentsData"
  [views]="['day','week', 'month']"
  currentView="month"
  
  [height]="600"

>
</dx-scheduler>


<!-- 
<button type="button" (click)="getCustomerinCalender()"> CalenderData </button> [startDayHour]="10"startDateExpr="start.dateTime"
  [endDayHour]="19"-->


